<header
  style="
    margin: 0%;
    display: flex;
    background-color: black;
    color: blanchedalmond;
    height: 100px;
    font-size: large;
    text-align: center;
    width: 100%;
  "
>
  <div style="width: 150px; height: 60px">
    <img src="" alt="logo" />
  </div>
  <div
    style="
      width: 30%;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    "
  >
    <input type="text" placeholder="Search" />
  </div>
  <div style="display: flex; justify-content: space-around">
    <div style="margin: 10px; border: 2px solid red; margin-top: 40px">
      Sign uP
    </div>
    <div style="margin: 10px; border: 2px solid red; margin-top: 40px">
      Sign In
    </div>
    <div style="margin: 10px; border: 2px solid red; margin-top: 40px">
      Post a job
    </div>
    <div style="margin: 10px; border: 2px solid red; margin-top: 40px">
      Apply A Job
    </div>
    <div style="margin: 10px; border: 2px solid red; margin-top: 40px">
      Expert Support
    </div>
  </div>
</header>
