<form action="" id="new =post=form" method="POST">
  <h1>Job Id : <input type="number" /></h1>
  <h1>Job role : <input type="text" /></h1>
  <h1>Company : <input type="text" /></h1>
  <h1>
    Core Skills : <input type="text" /><input type="text" /><input
      type="text"
    />
  </h1>
  <h1>
    soft Skills : <input type="text" /><input type="text" /><input
      type="text"
    />
  </h1>
  <h1>Location Pin : <input type="number" /></h1>
  <h1>Location : <input type="text" /></h1>
  <h1>Compentation : <input type="number" /></h1>
  <br />
  <input type="submit" />
</form>
